<div class="manli-contact">
  <div class="address-list">
    <ul>
      <li>
        <div class="title">MAMRE OAK BRANDING &amp; DESIGN DIRECTION</div>
        <div class="addr">Room 202, 82#, NO.666, Bao Le Road, Minhang District, Shanghai (China)</div>
        <div class="tel">T: +0086 186 1657 2085</div>
        <div class="mail">E: MANLI_PRAY@163.COM</div>
        <div class="site">MAMREOAK.CC</div>
      </li>
      <li>
        <div class="title">MAMRE OAK CONSTRUCTION CENTER_DONGBEI</div>
        <div class="addr">NO.6, Taihe industuial park, Ganjingzi district, Dalian (china)</div>
        <div class="tel">T: +0086 186 1659 5452</div>
        <div class="mail">E: AD.YANG@HOTMAIL.COM</div>
        <div class="site">MAMREOAK.CC</div>
      </li>
    </ul>
  </div>
  <div class="footer">&copy;2018 MAMRE OAK | ALL RIGHTS RESERVED</div>
</div>
