.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-left: 0;
  line-height: 4rem;
  list-style: none;
  z-index: 1;
  letter-spacing: 0.3rem;

  li {
    flex: 1;
    text-align: center;
  }

  a {
    color: #000;
    text-decoration: none;

    @at-root .fp-viewing-about-2 &, .fp-viewing-service-2 & {
      color: #f9f9f9;
    }
  }
}

.fullpage {
  > .section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

%vertical-middle {
  .content {
    display: flex;
    flex-direction: column;

    &::before {
      content: " ";
      flex: 1;
    }

    &::after {
      content: " ";
      flex: 1;
    }
  }
}

.home.section {
  @extend %vertical-middle;

  .content {
    height: 100%;
    margin: 0 2rem;
    background-image: url(images/dot.png);
    background-repeat: repeat-x;
    background-size: 16px;
    background-position: center calc(100% - 10px);

    .manli-home {
      margin: -7rem 8rem 0;
    }
  }
}

.about.section {
  position: relative;

  .slide {
    position: relative;

    &:nth-child(1) {
      background: #f9f9f9;
      color: #000;
    }

    &:nth-child(2) {
      background: url(images/tree.png) no-repeat 90% center;
      background-size: 800px;
    }

    &:nth-child(3) {
      background: #171615;
      color: #fff;
    }
  }
}

.service.section {
  .slide {
    &:nth-child(3) {
      background: #171615;
      color: #fff;
    }
  }
}

.work.section {
  .content {
    height: 100%;
  }
}
