body > .menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin: 1em auto;
  padding: 0 15%;
  line-height: 3em;
  background: #000;

  li {
    flex: 1;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.fullpage {
  > .section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-child(2) .slide {
      &:nth-child(1) {
        background-image: url(images/2-1.jpg);
      }
      &:nth-child(2) {
        background-image: url(images/2-2.jpg);
      }
      &:nth-child(3) {
        background-image: url(images/2-3.jpg);
      }
    }

    &:nth-child(3) {
      background-image: url(images/3.jpg);
    }

    &:nth-child(4) .slide {
      &:nth-child(1) {
        background-image: url(images/4-1.jpg);
      }
      &:nth-child(2) {
        background-image: url(images/4-2.jpg);
      }
      &:nth-child(3) {
        background-image: url(images/4-3.jpg);
      }
    }

    &:nth-child(5) {
      background-image: url(images/5.jpg);
    }
  }
}

.home.section {
  position: relative;
  background-image: url(images/1.jpg);

  .logo {
    position: absolute;
    top: 50%;
    left: 5em;
    transform: translateY(-50%);
    width: 240px;

    img {
      display: block;
      width: 100%;

      &:first-child {
        margin-bottom: .5em;
      }
    }
  }

  .scripture {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5em 3em .5em 1em;
    line-height: 1.6em;
    background: #000;
    color: #fff;

    p {
      margin: 0;
    }
  }
}
