---
layout: page
---
<!DOCTYPE html>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="assets/main.css">
<link rel="stylesheet" href="assets/jquery.fullpage.min.css">
<script src="assets/jquery.min.js"></script>
<script src="assets/jquery.fullpage.min.js"></script>
<script src="assets/home.js"></script>

<ul class="menu">
  <li data-menuanchor="home"><a href="#home">HOME</a></li>
  <li data-menuanchor="about"><a href="#about">关于幔利</a></li>
  <li data-menuanchor="service"><a href="#service">服务</a></li>
  <li data-menuanchor="showcase"><a href="#showcase">案例</a></li>
  <li data-menuanchor="contact"><a href="#contact">联系</a></li>
</ul>
<div class="fullpage">
  <div class="section">HOME</div>
  <div class="section">
    <div class="slide">slide 1</div>
    <div class="slide">slide 2</div>
    <div class="slide">slide 3</div>
  </div>
  <div class="section">服务</div>
  <div class="section">
    <div class="slide">slide1</div>
    <div class="slide">slide2</div>
    <div class="slide">slide3</div>
  </div>
  <div class="section">联系</div>
</div>
