---
layout: page
---
<!DOCTYPE html>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="assets/main.css">
<link rel="stylesheet" href="assets/jquery.fullpage.min.css">
<script src="assets/jquery.min.js"></script>
<script src="assets/jquery.fullpage.min.js"></script>
<script src="assets/home.js"></script>

<ul class="menu">
  <li data-menuanchor="home"><a href="#home">HOME</a></li>
  <li data-menuanchor="about"><a href="#about">ABOUT</a></li>
  <li data-menuanchor="work"><a href="#work">WORK</a></li>
  <li data-menuanchor="service"><a href="#service">SERVICE</a></li>
  <li data-menuanchor="contact"><a href="#contact">CONTACT</a></li>
</ul>

<div class="fullpage">
  <div class="section home">
    <div class="content">
      {% include manli-home.html %}
    </div>
  </div>
  <div class="section about">
    <div class="slide">
      {% include manli-about-0.html %}
    </div>
    <div class="slide">
      {% include manli-about-1.html %}
    </div>
    <div class="slide">
      {% include manli-about-2.html %}
    </div>
  </div>
  <div class="section work">
    <div class="content">
      {% include manli-work.html %}
    </div>
  </div>
  <div class="section service">
    <div class="slide">
      {% include manli-service-0.html %}
    </div>
    <div class="slide">
      {% include manli-service-1.html %}
    </div>
    <div class="slide">
      {% include manli-service-2.html %}
    </div>
  </div>
  <div class="section contact">
    {% include manli-contact.html %}
  </div>
</div>
