---
layout: page
---
<!DOCTYPE html>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="assets/main.css">
<link rel="stylesheet" href="assets/jquery.fullpage.min.css">
<script src="assets/jquery.min.js"></script>
<script src="assets/jquery.fullpage.min.js"></script>
<script src="assets/home.js"></script>

<ul class="menu">
  <li data-menuanchor="home"><a href="#home">HOME</a></li>
  <li data-menuanchor="about"><a href="#about">关于幔利</a></li>
  <li data-menuanchor="service"><a href="#service">服务</a></li>
  <li data-menuanchor="showcase"><a href="#showcase">案例</a></li>
  <li data-menuanchor="contact"><a href="#contact">联系</a></li>
</ul>
<div class="fullpage">
  <div class="section home">
    <div class="logo">
      <img src="assets/images/logo.png" alt="logo">
      <img src="assets/images/manli-design.png" alt="manli-design">
    </div>
    <div class="scripture">
      <p>GENESIS 13:18</p>
      <p>So Abram moved his tents and went to live near the great trees of Mamre at Hebron,where he built an altar to the LORD.</p>
      <p>创 13:18</p>
      <p>亚伯兰就搬了帐篷，来到希伯仑幔利的橡树那里居住，在那里为耶和华筑了一座坛。</p>
    </div>
  </div>
  <div class="section">
    <div class="slide">slide 1</div>
    <div class="slide">slide 2</div>
    <div class="slide">slide 3</div>
  </div>
  <div class="section">服务</div>
  <div class="section">
    <div class="slide">slide1</div>
    <div class="slide">slide2</div>
    <div class="slide">slide3</div>
  </div>
  <div class="section">联系</div>
</div>
